.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
*,
html {
  box-sizing: border-box;
}

body {
  margin-top: 10vh;
  background: #003f5b;
}
/*
.slanted {
  margin-left: 10%;
  margin-right: 10%;
  background: red;

  width: 80%;
  position: relative;
  padding: 20px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0% 0%, 100% 20%, 100% 85%, 0 100%);
}

.slanted:before {
  content: "";
  background: red;
  height: 40px;
  transform: skewY(2deg);
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.slanted:after {
  content: "";
  background: red;
  height: 40px;
  transform: skewY(1deg);
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.slanted:before {
  top: -20px;
}

.slanted:after {
  bottom: -30px;
} */

blockquote {
  width: 60%; /* 640px */
  height: 80vh; /* 800px */
  display: inline-flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.slanted {
  background: #000;
  min-width: 75%; /* 500px */
  height: 70vh; /* 700px */
  position: absolute;
  align-self: center;
  background-color: rgba(255, 0, 0, 0.8);
  z-index: -1;
  clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0 100%);
}

blockquote p {
  font: 2.6rem "Abril Fatface", cursive;
  padding: 20px;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-self: center;
}
cite {
  text-align: right;
  padding-right: 5%;
}
cite a {
  font: normal 1.2em "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #000;
  padding: 10px;
  color: #fff;
  font-style: italic;
}
cite a:before {
  content: "- ";
}

@media only screen and (max-width: 700px) {
  blockquote {
    width: 90%;
  }
}
